:root {
  --main-purple: #9287FF;
  --main-pink: #FFD8CC;
  --main-blue: #D3E1FC;
  --main-box: 0px 0px 4px 3px rgba(0, 0, 0, 0.1)
}

body {
  font-family: "Pretendard", Geneva, Tahoma, sans-serif;
}

#container {position: relative; max-width: 640px; min-width: 320px; height: 100vh;margin: auto;}
#container header {position:fixed;top: 0; background-color: var(--main-purple);max-width: 640px;min-width: 320px;height: 120px; width: 100%;border-radius: 0 0 40px 40px;}
.header_inner {padding: 30px; height: 100%;}
.header_inner h1 {text-align: center; font-size: 1.5rem; font-weight: bold; color:#fff; font-family: Inter;}
.header_inner ul {display: flex; padding-top: 30px;}
.header_inner ul > li { flex:1; padding: 5px 0; text-align: center;}

.header_inner ul > li > a {position: relative; color: #fff; display: inline-block; padding: 0 10px; font-weight: 600; letter-spacing: 1px}
.header_inner ul > li > a:before{position: absolute; content: ""; bottom: -17px; left:0; width:0; height: 4px; background-color:#222222; transition: 0.3s ease-in-out; border-radius: 999px;}

.header_inner ul > li.active > a:before{width:100%;}

main{padding-top: 120px;}

.main_inner{padding: 20px 30px 30px 30px;}
.main_inner h2{font-weight: 700; font-size: 20px; padding-bottom: 20px;}
.main_box{display: flex; flex-direction: column;padding: 30px;text-align: center;gap: 70px;box-shadow: var(--main-box); border-radius: 50px; min-height: 400px;}
.main_box_inner{font-weight: 700;font-size: 18px;line-height: 1.3;letter-spacing: 0.5px;}
.main_box_inner > p:nth-child(1){padding:50px 0;}
.main_plus{}
  .main_plus_btn{width: 180px; height: 40px; border:none; box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1); border-radius: 20px; color:var(--main-purple); background-color: #ffffff;font-weight: 700; font-size: 18px; cursor: pointer;font-family: "Pretendard";}

.calendar_wrap{display: flex; justify-content: center; align-items: center;position: absolute; bottom: 0;width: 100%;left: 0; height: 400px; overflow: auto; transition: all 0.5s ease-in-out;}
.calendar_wrap.on{height:400px; overflow: auto;}

.calendar{box-shadow: var(--main-box); border-radius: 40px 40px 0 0 ; background-color: #fff; height: 400px;padding: 20px;margin-top: 5px;}


.cal_header{}
.year_month{font-size: 1.2rem; font-weight: 700;}
.cal_nav{text-align: center;padding-bottom: 30px;}
.cal_nav_btn {position:relative;vertical-align: middle; border: none; cursor: pointer; background: transparent; padding:0 15px;}

.cal_nav_btn.prev:before{position: absolute;top:50%; left:0; transform: translateY(-50%); font-weight: 900;font-family: "Font Awesome 6 Free";content: "\f104"; font-size: 1.2rem;}

.cal_nav_btn.next:before{position: absolute;top:50%; right:0; transform: translateY(-50%); font-weight: 900;font-family: "Font Awesome 6 Free";    content: "\f105"; font-size: 1.2rem;}



.cal_days{display: flex; text-align: center;font-size: 1.2rem;font-weight: 600;}
.cal_day{width: calc(100% / 7);padding: 10px;}

.cal_dates{display: flex; flex-wrap: wrap; text-align: center;font-size: 1.1rem;}
.cal_date{position: relative; width:calc(100% / 7);padding: 10px;}

.cal_date::before{position: absolute; top:50%; left:50%;width: 30px;
  height: 30px;transform: translate(-50%, -50%); content:"";border-radius: 50%;background-color:transparent; opacity: 0.3;}
.cal_date.selected::before{background-color:#ef9073;}

.cal_date .today{position: relative;}
.cal_date .today::before{position: absolute; top:50%; left:50%;width: 30px;
  height: 30px;transform: translate(-50%, -50%); content:"";border-radius: 50%;background-color: #695ce9; opacity: 0.2;}
.cal_date .othermonth {opacity: 0.3;}

.cal_day:nth-child(7n + 1),
.cal_date:nth-child(7n + 1) {color:#F2663B}




