@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-purple: #9287FF;
  --main-pink: #FFD8CC;
  --main-blue: #D3E1FC;
}

body {
  font-family: "Pretendard-Regular", Geneva, Tahoma, sans-serif;
}

#container {position: relative; max-width: 640px; min-width: 320px; border: 1px solid #000;height: 100vh;margin: auto;}
#container header {position:fixed;top: 0; background-color: var(--main-purple);max-width: 640px;min-width: 320px;height: 140px; width: 100%;border-radius: 0 0 40px 40px;}
.header_inner {padding: 30px; height: 100%;}
.header_inner h1 {text-align: center; font-size: 2rem; font-weight: bold; color:#fff; font-family: Inter;}
.header_inner ul {display: flex; padding-top: 50px;}
.header_inner ul > li { flex:1; padding: 5px 0; text-align: center;}

.header_inner ul > li > a {position: relative; color: #fff; display: inline-block; padding: 0 10px;}
.header_inner ul > li > a:before{position: absolute; content: ""; bottom: -10px; left:0; width:0; height: 4px; background-color:#222222; transition: 0.3s ease-in-out;}

.header_inner ul > li.active > a:before{width:100%;}